*{
  margin: 0;
  padding: 0;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#30E8BF,#FF8235);
  height: 100%;

}
h1{
  text-align: center;
  color: red;
}
label{
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}
.Registration-form{
  background: rgba(255, 255, 255, 0.525);
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 50px 25px 60px;
  border-radius: 10px;
width: 30%;
}
.Registration-form label{
  float: left;
}

.content{
  margin-top: 30px;


}
.gen label{
  float:none;
}
input{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 6px;
  padding: 10px 20px;
}
.input1{
  width: 60%;
}
.btn{
  display: flex;
  width: 100%;
  justify-content: center;
}
.sbtn{
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.sbtn:hover{
  cursor: pointer;
  background: #cbb4d4;
}
